<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Old School Technology</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="/public/img/disquete.png" alt="Disquete">
                <h1>Old School Technology</h1>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/views/cursos.ejs">Cursos</a></li>
                    <li><a href="/contactos">Contactos</a></li>
                    <li><a href="/soporte">Soporte</a></li>
                </ul>
            </div>
        </nav>
    </header>


    <section class="container">

        <section class="Banner">
        <div class="texto-imagen">
            <h3>Old School Technology</h3>
            <p>Empoderando a los adultos mayores en el mundo digital: ¡Explora, aprende y conecta! </p>
                    <a href="registro" class="boton-registro"><button type="button">Registrate!</button></a>
                </div>
        </section>
    
        <panel class="informacion_tarjeta">
            <h3>¿Quienes somos?</h3>
            <p>En Old School Technology, somos un equipo dedicado a enseñar a adultos mayores el poder y la utilidad de la tecnología. Nuestra pasión radica en hacer que la tecnología sea accesible y fácil de entender para todos, sin importar la edad. Estamos aquí para ayudar a nuestros estudiantes a descubrir un nuevo mundo digital y a sentirse seguros mientras navegan por él. Con nosotros, aprender tecnología es más que adquirir habilidades, es un viaje de conexión, descubrimiento y empoderamiento.</p>
        </panel>
    </section>

    <h1>Beneficios</h1>
<section class="beneficios">

    <section class="beneficios_tarjeta1">
        <img src="#" alt="">
        <h3>Acceso a Contenido Adaptado y Adecuado</h3>
        <p>Una página web de aprendizaje de tecnología para adultos mayores puede ofrecer contenido adaptado a las necesidades y habilidades de este grupo demográfico. Esto incluye tutoriales paso a paso, explicaciones claras y sencillas, así como ejemplos prácticos que facilitan el aprendizaje y la comprensión de conceptos tecnológicos.</p>
    </section>

    <section class="beneficios_tarjeta2">  
        <img src="#" alt="">    
        <h3>Fomento de la Independencia Digital</h3>
        <p>Al proporcionar recursos y herramientas educativas en línea, la página web puede ayudar a los adultos mayores a desarrollar habilidades digitales y a sentirse más cómodos y seguros al usar dispositivos tecnológicos como computadoras, tabletas o teléfonos inteligentes. Esto promueve la independencia digital y les permite aprovechar al máximo las ventajas que ofrece la tecnología en su vida diaria.</p>
    </section>

    <section class="beneficios_tarjeta1">
        <img src="#" alt="">
        <h3>Estímulo del Aprendizaje Continuo y Mental</h3>
        <p>La página web de aprendizaje de tecnología ofrece una plataforma para que los adultos mayores continúen desarrollando sus habilidades cognitivas y mantengan sus mentes activas. Al participar en cursos, resolver problemas tecnológicos y explorar nuevas herramientas digitales, los usuarios pueden mejorar su capacidad de aprendizaje y mantenerse mentalmente ágiles, lo cual es beneficioso para su bienestar general y su calidad de vida.</p>
    </section>
</section>

    <section class="tarjeta_beneficios">      
        <h1>Testimonios</h1>
        
        <section class="testimonios">
            <div class="tarjeta_testimonio">
                <div class="comentario">
                    <div class="usuario">
                        <img src="/assets/img/zahra-amiri-_Jq2D9CsT-A-unsplash.jpg" alt="Foto de Juan" class="foto-usuario">
                        <div class="info-usuario">
                            <h4>Testimonio de Juan</h4>
                            <p>03/07/2019</p>
                        </div>
                    </div>
                    <p class="contenido-comentario">"Como adulto mayor, me preocupaba quedarme atrás en el mundo digital, pero esta página web ha sido una verdadera bendición. Los tutoriales bien estructurados y el soporte técnico personalizado me han permitido superar mis miedos y aprender a utilizar mi computadora de manera eficiente. Ahora puedo enviar correos electrónicos, hacer videollamadas con mis nietos y navegar por internet con confianza. ¡Es increíble cómo ha mejorado mi calidad de vida!"</p>
                </div>
            </div>

            <div class="tarjeta_testimonio">
                <div class="comentario">
                    <div class="usuario">
                        <img src="../assets/img/repentand-seekchristjesus-y0I85D5QKvs-unsplash.jpg" alt="Foto de María" class="foto-usuario">
                        <div class="info-usuario">
                            <h4>Testimonio de María</h4>
                            <p>15/11/2022</p>
                        </div>
                    </div>
                    <p class="contenido-comentario">"Estoy encantada con esta página web de aprendizaje de tecnología. Siempre me sentí intimidada por los dispositivos electrónicos, pero gracias a los cursos paso a paso y las explicaciones claras, he aprendido a usar mi tablet para comunicarme con mi familia, buscar información en línea y disfrutar de juegos interactivos que me mantienen entretenida y mentalmente activa. ¡Gracias por hacer que la tecnología sea accesible para personas como yo!"</p>
                </div>
            </div>

            <div class="tarjeta_testimonio">
                <div class="comentario">
                    <div class="usuario">
                        <img src="../assets/img/bahram-bayat-6vo7Plcg7s4-unsplash.jpg" alt="Foto de Carlos" class="foto-usuario">
                        <div class="info-usuario">
                            <h4>Testimonio de Carlos</h4>
                            <p>28/05/2018</p>
                        </div>
                    </div>
                    <p class="contenido-comentario">"Descubrí esta página web cuando buscaba ayuda para manejar mi teléfono inteligente. Gracias a los recursos y consejos prácticos, he logrado dominar las aplicaciones de mensajería, usar mapas para la navegación y administrar mi agenda con facilidad. Además, la comunidad en línea me ha brindado apoyo y soluciones a mis dudas de manera rápida y amigable. Recomiendo esta plataforma a todos los adultos mayores que deseen aprovechar al máximo la tecnología moderna."</p>
                </div>
            </div>
        </section>
    </section>

    <footer>
        <p>&copy; Old School Technology </p>
    </footer>
</body>
</html>
