<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Tech Old School</title>
</head>
<body>

  <header>
      <nav class="navbar">
          <div class="logo">
              <img src="../assets/img/disquete.png" alt="Disquete">
              <h1>Old School Technology</h1>
          </div>
          <div class="menu">
              <ul>
                  <li><a href="home">Inicio</a></li>
                  <li><a href="cursos">Cursos</a></li>
                  <li><a href="contactos">Contactos</a></li>
                  <li><a href="soporte">Soporte</a></li>
              </ul>
          </div>
      </nav>
  </header>
  
  <section id="faq">
      <h2>Preguntas Frecuentes (FAQs)</h2>
      <section class="pregunta">
          <h3>¿Qué es la plataforma e-learning y cómo funciona?</h3>
          <p>Nuestra plataforma e-learning es un entorno virtual diseñado para ofrecer cursos y materiales educativos en línea. Funciona mediante el acceso a través de internet, donde los usuarios pueden inscribirse en cursos, realizar actividades interactivas, ver videos, participar en foros y más, todo desde la comodidad de su hogar.</p>
      </section>
      <section class="pregunta">
          <h3>¿Qué cursos están disponibles en la plataforma?</h3>
          <p>Ofrecemos una amplia variedad de cursos en temas como tecnología para personas mayores, manejo de dispositivos móviles, redes sociales, seguridad informática, entre otros. Puedes explorar nuestra lista completa de cursos en la sección "Cursos" de nuestra página principal.</p>
      </section>
      <section class="pregunta">
          <h3>¿Cómo puedo inscribirme en un curso?</h3>
          <p>Para inscribirte en un curso, primero debes registrarte en nuestra plataforma con tu nombre, dirección de correo electrónico y crear una contraseña. Una vez registrado, puedes buscar el curso deseado, hacer clic en "Inscribirse" y seguir los pasos de pago, si es necesario.</p>
      </section>
      <section class="pregunta">
          <h3>¿Cuáles son las formas de pago aceptadas?</h3>
          <p>Aceptamos pagos con tarjeta de crédito/débito a través de plataformas seguras de pago en línea. También ofrecemos opciones de pago mediante transferencia bancaria para algunos cursos específicos.</p>
      </section>
      <section class="pregunta">
          <h3>¿Qué beneficios obtengo al tomar un curso en esta plataforma?</h3>
          <p>Al tomar un curso en nuestra plataforma, tendrás acceso a material didáctico de alta calidad, videos explicativos, actividades interactivas, pruebas de conocimiento, certificados de finalización y soporte técnico especializado.</p>
      </section>
      <section class="pregunta">
          <h3>¿Cómo puedo acceder a los cursos una vez que me he inscrito?</h3>
          <p>Después de inscribirte en un curso, puedes acceder a él iniciando sesión en nuestra plataforma con tu correo electrónico y contraseña. Una vez dentro, encontrarás el curso en tu panel de usuario y podrás comenzar a aprender de inmediato.</p>
      </section>
  </section>
  
  </body>
  </html>